body {
	
}
h1{
	margin-left:20px;
}
#somos{
	
}
	#somos #resena{
		width:580px;
		padding:7.5px; 
		text-align:justify;
		float:left;
	}
	#somos #galeria{
		float:right;
		rigth:10px;
		padding:10px;
		background:url("/media/img/recursos/fondos/back_resumen_white.png") repeat scroll 0 0 #CCCCCC
	}
	#somos #galeria .imagen{

	}
