/* registrar_cliente.css */

#body {
	width: 880px;	
	background: #000;
	height:750px;
}
#back-form {
	width: 770px;
	height:500px;	
	padding: 15px;
	background: #333;
	margin-top:30px;
}
body #bar-alpha{
	height:750px;	
	width:25px;
	float:left;
	margin-top:35px;
	border-left-color:#F00;
	border:thin;
	/*background:#39C;*/
	}
body #bar-left {
		
	background: #000;			
	}
	body #bar-right {
	background: #000;	
	}
h1 {
	font-size:24px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	float:right;
	padding:30px;
}
p {
	padding-left:30px;
}
form ul {
	list-style: none;
}

form .form_div {
	float: left;
}

form .izq {
	width: 550px;
	border-right: 1px solid #555;
}

form .der {
	background: #4C4C4E;
	width: 250px;
	padding: 5px 10px;
	margin: 20px 20px 20px 20px;
}
form .help{
	font-size:9px;
}
	form .der ul {
		padding: 0px;
	}

		form .der ul .help {
			margin-left: 21px;
		}